<div class="notice section">
    <h2>驾校公告</h2>
    <p>海淀驾校速成班火热招生中</h2>
</div><!-- End .notice -->
<div class="restriction section">
    <h2>今日限行</h2>
</div><!-- End .restriction -->
<div class="contact section">
    <h2>常用电话</h2>
    <ul>
        <li><span class="glyphicon glyphicon-earphone"></span> 报名：010-6256 7057</li>
        <li><span class="glyphicon glyphicon-time"></span> 班车：010-6245 4612<br/>010-6249 5780</li>
        <li><span class="glyphicon glyphicon-expand"></span> 法培：010-6249 5512<br/>010-6249 5537</li>
        <li><span class="glyphicon glyphicon-arrow-right"></span> 手续：010-6248 0975<br/>010-6248 0976</li>
        <li><span class="glyphicon glyphicon-user"></span> 投诉：010-6245 4547</li>
    </ul>
</div><!-- End .contact -->
<div class="getting-license-number section">
    <h2><a href="http://www.bjhjyd.gov.cn/" target="_blank">网上摇号</a></h2>
    <a href="http://www.bjhjyd.gov.cn/" target="_blank"><img src="/static/img/getting_license_number.jpg" alt="网上摇号" width="211" /></a>
</div><!-- End .getting-license-number -->
<div class="links section">
    <h2>常用链接</h2>
    <ul>
        <li><span class="glyphicon glyphicon-search"></span> <a>常见问题</a> <span class="decoration">为您答疑解惑</span></li>
        <li><span class="glyphicon glyphicon-flash"></span> <a>网上约车</a> <span class="decoration">免费约车约考</span></li>
        <li><span class="glyphicon glyphicon-time"></span> <a>班车查询</a> <span class="decoration">乘车点和时间</span></li>
        <li><span class="glyphicon glyphicon-arrow-right"></span> <a>学车流程</a>  <span class="decoration">理论实践并重</span></li>
        <li><span class="glyphicon glyphicon-user"></span> <a>学员心得</a> <span class="decoration">怎么学效果好</span></li>
    </ul>
</div><!-- End .links -->