<div class="notice section">
    <h2>驾校公告</h2>
    <p>海淀驾校速成班火热招生中</h2>
</div><!-- End .notice -->
<div class="contact section">
    <h2>常用电话</h2>
    <ul>
        <li>报名：</li>
        <li>班车：</li>
        <li>法培：</li>
        <li>手续：</li>
        <li>投诉：</li>
    </ul>
</div><!-- End .contact -->
<div class="links section">
    <h2>常用链接</h2>
    <ul>
        <li><a>常见问题</a></li>
        <li><a>网上约车</a></li>
        <li><a>班车查询</a></li>
        <li><a>学车流程</a></li>
        <li><a>学员心得</a></li>
    </ul>
</div><!-- End .links -->
<div class="restriction section">
    <h2>今日限行</h2>
</div><!-- End .restriction -->
<div class="getting-license-number section">
    <h2><a href="http://www.bjhjyd.gov.cn/" target="_blank">网上摇号</a></h2>
    <a href="http://www.bjhjyd.gov.cn/" target="_blank"><img src="/static/img/getting_license_number.jpg" alt="网上摇号" width="211" /></a>
</div><!-- End .getting-license-number -->