    <div class="table-responsive">
<table class="table table-striped table-bordered table-hover table-condensed">
<thead>
    <tr><th rowspan="2">班型</th><th rowspan="2">训练时间</th><th colspan="2">车型</th></tr>
    <tr><th>比亚迪</th><th>桑塔纳</th></tr>
</thead>
<tbody>
    <tr><td rowspan="2"><span class="highlight">速成班(C1)</span></td><td>周一至周五</td><td>￥4,850</td><td>￥5,050</td></tr>
    <tr><td>周六、周日</td><td>￥5,650</td><td>￥5,850</td></tr>
    <tr><td rowspan="2">计时班(C1)</td><td>周一至周五</td><td>￥4,600</td><td>￥4,800</td></tr>
    <tr><td>周一至周日</td><td>￥5,000</td><td>￥5,200</td></tr>
    <tr><td>自动挡(C2)</td><td>周一至周日</td><td colspan="2">￥4,700</td></tr>
    <tr><td>特训班(C1/C2)</td><td>周一至周日</td><td colspan="2">￥8,000</td></tr>
    <tr><td>贵宾班(C1/C2)</td><td>周一至周日</td><td colspan="2">￥15,800</td></tr>
    <tr><td>摩托车</td><td>周一至周日</td><td colspan="2">￥1,300(二轮摩托车，E)<br/>￥1,800(三轮摩托车，D)</td></tr>
</tbody>
</table>
    </div><!-- End .table-responsive -->