{% extends 'haijia_sh/layout.html' %}

{% load staticfiles %}

{% block title %}海淀驾校沙河高教新城报名中心{% endblock %}

{% block head %}
{{ block.super }}
<script>
$(function() {
    $('ul.nav li.contact').addClass('current');    // 导航栏高亮
});
</script>
{% endblock head %}

{% block main %}
<ol class="breadcrumb">
    您的位置：
    <li><a href="/">海淀驾校</a></li>
    <li class="active">联系方式</li>
</ol>
<div class="center-contact section">
    <h2>海淀驾校沙河高教新城报名中心</h2>
    <p class="indent">海淀驾校沙河高教新城报名中心位于北街家园五区2-1-232，公共交通十分便利，可乘坐地铁13号线到沙河高教园站下车。海淀驾校沙河高教新城报名中心的营业时间为周一至周日早8:00至晚18:00，办公电话是010-61705049。满意在海驾，海淀驾校永远欢迎您的到来！</p>
</div><!-- End .center-contact -->
<div class="center-map section">
    <p class="center"><img class="img-thumbnail img-responsive" src="{% static 'img/address.jpg' %}" alt="海淀驾校报名中心地址" /></p>
</div><!-- End .center-map -->
<div class="haijia-contact">
    <h2>海淀驾校联系电话</h2>
    <ul>
        <li><span class="glyphicon glyphicon-earphone"></span> 报名电话：010-6170 5049</li>
        <li><span class="glyphicon glyphicon-time"></span> 班车咨询：010-6245 4612，010-6249 5780</li>
        <li><span class="glyphicon glyphicon-book"></span> 法培咨询：010-6249 5512，010-6249 5537</li>
        <li><span class="glyphicon glyphicon-arrow-right"></span> 手续咨询：010-6248 0975，010-6248 0976</li>
        <li><span class="glyphicon glyphicon-user"></span> 投诉电话：010-6245 4547</li>
    </ul>
</div><!-- End .haijia-contact -->
{% endblock main %}
