{% extends 'haijia_sh/layout.html' %}

{% block title %}学车常见问题 | 科目一考试经验, 科目二考试经验, 科目三考试经验 {% endblock %}

{% block head %}
{{ block.super }}
<script>
$(function() {
    $('ul.nav li.faq').addClass('current');    // 导航栏高亮
});
</script>
{% endblock head %}

{% block main %}
<ol class="breadcrumb">
    您的位置：
    <li><a href="/">海淀驾校</a></li>
    <li class="active">常见问题</li>
</ol>
<div class="questions">
    <h2>学车常见问题</h2>
    <div class="question">
        <p><span class="field">Q</span>：现在学车多少钱？</p>
        <p><span class="field">A</span>：最便宜的是4600元。完整的车型价格可以参考<a href="{% url 'channels' 'price' %}" target="_blank">海淀驾校学车价格</a>。</p>
    </div><!-- End .question -->
    <div class="question">
        <p><span class="field">Q</span>：C1和C2有什么区别？</p>
        <p><span class="field">A</span>：C1是手动挡，C2是自动挡。持C1驾照不仅可以驾驶手动挡汽车，还可以驾驶自动挡汽车。持C2驾照只能驾驶自动挡汽车，不能驾驶手动挡汽车。</p>
    </div><!-- End .question -->
    <div class="question">
        <p><span class="field">Q</span>：爱丽舍和桑塔纳有什么区别？</p>
        <p><span class="field">A</span>：爱丽舍是两厢车，桑塔纳是三厢车，都是新车，方向盘都有助力。</p>
    </div><!-- End .question -->
    <div class="question">
        <p><span class="field">Q</span>：贵宾班为什么那么贵？</p>
        <p><span class="field">A</span>：贵宾班提供车接车送、免费午餐和休息室，提前24小时预约保证训练车辆，是海淀驾校的高端产品，体现在价格上也就要高一些。</p>
    </div><!-- End .question -->
    <div class="question">
        <p><span class="field">Q</span>：现在学车要多长时间？</p>
        <p><span class="field">A</span>：从报名到拿本最快要2个多月。因为整个学车流程包括了科目一、科目二、科目三和安全文明驾驶的培训和考试，根据国家规定，学车的净时间也要1个半月，加上等待的时间至少要2个多月。</p>
    </div><!-- End .question -->
    <!--
    <div class="question">
        <p><span class="field">Q</span>：现在学车怎么报名？</p>
        <p><span class="field">A</span>：请您携带身份证原件，到海淀区中关村南路中关村88号海淀驾校报名中心(中关村医院正对面)报名，报名咨询电话是010-62567057。报名时会为您免费拍照，发放计时乘车卡、学车指南和交规教材。学费可以通过现金、刷卡或支票支付。</p>
    </div> --><!-- End .question -->
    <div class="question">
        <p><span class="field">Q</span>：怎么乘坐海淀驾校的班车？</p>
        <p><span class="field">A</span>：在报名时发放的学车指南上列出了海淀驾校班车各条路线的乘车地点和乘车时间，需要事先查询好离自己最近的乘车地点。如果有疑问，请及时拨打班车咨询电话010-62454612或010-62495780。建议提前10分钟到乘车地点候车，带好报名时发放的计时乘车卡，上车时请自觉出示。</p>
    </div><!-- End .question -->
    <div class="question">
        <p><span class="field">Q</span>：考完安全文明驾驶常识后多长时间可以拿驾照？</p>
        <p><span class="field">A</span>：考试通过当天即可领取驾照。</p>
    </div><!-- End .question -->
</div><!-- End .questions -->
{% endblock main %}
