{% load staticfiles %}

<p style="text-indent: 0; margin: 0; font-size: 14px;">海淀驾校400报名热线：<b>400-6288-065</b></p>
<div class="logo">
    <img class="img-responsive" src="{% static 'img/logo.jpg' %}" alt="海淀驾校沙河高教新城报名中心" />
</div><!-- End .logo -->
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'index' %}">{{ site_name }}</a>
    </div><!-- End .navbar-header -->
    <div class="navbar-collapse collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="index"><a href="{% url 'index' %}">首页</a></li>
            {% for channel in channels %}
            <li class="{{ channel.name_en }}"><a href="{% url 'channels' channel.name_en %}">{{ channel.name }}</a></li>
            {% endfor %}
        </ul><!-- End .nav -->
    </div><!-- End .navbar-collapse -->
</div><!-- End .navbar -->
<div style="clear: both;"></div>
