{% extends 'haijia_sh/layout.html' %}

{% block title %}海淀驾校学车流程{% endblock %}

{% block head %}
{{ block.super }}
<script>
$(function() {
    $('ul.nav li.procedure').addClass('current');    // 导航栏高亮
});
</script>
{% endblock head %}

{% block main %}
<ol class="breadcrumb">
    您的位置：
    <li><a href="/">海淀驾校</a></li>
    <li class="active">学车流程</li>
</ol>
<div class="procedure section">
    <h2>海淀驾校学车流程</h2>
    <p class="indent">北京海淀驾校创建于1985年，是全国最早的汽车驾驶培训学校。海淀驾校的学车价格是从报名到拿到驾照期间的全部费用，教练不收红包，绝无小驾校中常见的乱收费现象。海淀驾校价格低，教学质量好，考试通过率高。海淀驾校的学车流程完整而规范，只有通过科目一、科目二、科目三共三个阶段的培训和考试，并通过安全文明驾驶培训和考试才能拿到驾照。</p>
    <p class="center"><img class="img-thumbnail" src="/static/img/procedure.jpg" alt="海淀驾校学车流程" /></p>
</div><!-- End .procedure -->
<div class="one section">
    <h2>海淀驾校科目一培训及考试</h2>
    <ol>
        <li>科目一法规培训共12学时(3个半天)。</li>
        <li>法规培训地点在海淀驾校京海教学楼内，可乘坐海驾班车到达或从颐和园乘坐346路公交车到海淀驾校下车即可。</li>
        <li>法培培训每周定期开班，班型分为平时班和周末班，学员可根据自身情况选择班型。</li>
        <li>请学员按照驾校通知的上课时间，到京海教学楼大厅公示栏查找教室和座位号，到教室等候。上课期间老师安排指纹采样，发放听课证及证件。全部课程完成后，由老师通知考试时间，考试时需携带听课证和身份证。</li>
        <li>法培考试合格后，由驾校通知办理上车手续的时间，也可拨打010-62495669查询是否可以办理上车手续。</li>
</div><!-- End .one -->
<div class="two section">
    <h2>海淀驾校科目二培训及考试</h2>
    <ol>
        <li>科目二训练共28个学时，训练模式为7个半天每天4学时，或1次模拟、6个半天每天4学时，或4个下午加晩上每天7学时。</li>
        <li>教练员介绍场地道路训练的特点、目的、要求和注意事项；介绍场地的交通标志、标线、设施的要求；讲解如何辨别交通标志、标线和正确驾驶。</li>
        <li>介绍教练场训练的会车、让车、超车、侧方停车、坡路定点停车、起步、直角转弯、曲线路、限宽门、百米加减档、单边桥、连续障碍、起伏路的特点和行驶注意事项、标准要求，使学员能够正确行驶。</li>
        <li>介绍山路训练的特点、操作要领和注意事项，包括上下坡路的起步停车、手制动杆的正确使用。上下坡道路停车的标准要求，以及调头、盲区转弯的要求和注意事项。</li>
        <li>介绍转向灯、后视镜、左右变更车道、路口情况判断、转弯角度车速的控制，使学员练习中增加安全意识，提高判断能力。</li>
    </ol>
</div><!-- End .two -->
<div class="three section">
    <h2>海淀驾校科目三培训及考试</h2>
    <ol>
        <li>科目三训练共22个学时，训练模式为4次练车加考前集中，或1次模拟加3次练车加考前集中。</li>
        <li>科目三安全文明驾驶理论课共16学时(4个半天)。</li>
    </ol>
    <h3>实际道路训练第一阶段</h3>
    <ol>
        <li>教练员讲解考试路线、程序和要求，包括换人程序、文明用语、口令复诵等内容。</li>
        <li>上车前的准备、开门、观察周围交通情况安全。</li>
        <li>起步、转变、变更车道、会车、超车、通过路口、靠边停车的转向灯、后视镜的配合运用。</li>
        <li>教练员应注意提醒和纠正学员的错误，并培养安全驾驶意识。</li>
    </ol>
    <h3>实际道路训练第二阶段</h3>
    <ol>
        <li>教练员要注意讲解学习驾驶员行驶通过人行横道线，通过学校区域，通过公共汽车站，会车、超车、掉头的要求和注意事项。</li>
        <li>通过实际道路训练，培养学员掌握并自觉遵守交通法律、法规，养成安全驾驶、文明驾驶的好习惯,掌握正确观察判断道路交通情况等综合控制机动车的能力。</li>
        <li>实际道路考试合格后安排学员进行实际道路交通安全文明驾驶的培训，培训后安排考试。</li>
    </ol>
</div><!-- End .three -->
<div class="final section">
    <h2>安全文明驾驶常识培训及考试</h2>
    <p class="indent">安全文明驾驶常识共16学时，考试通过当天即可领取驾照。</p>
</div><!-- End .final -->
{% endblock main %}
