{% extends 'haijia_sh/layout.html' %}

{% block title %}海淀驾校班车路线{% endblock %}

{% block head %}
{{ block.super }}
<script>
$(function() {
    $('ul.nav li.shuttlebus').addClass('current');    // 导航栏高亮
});
</script>
{% endblock head %}

{% block main %}
<ol class="breadcrumb">
    您的位置：
    <li><a href="/">海淀驾校</a></li>
    <li class="active">班车路线</li>
</ol>
<div class="routes">
    <div class="route section">
        <h2>路线1 宝盛里到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:25> 、<10:30> 、<14:30></p>
        <p><span class="field">具体路线</span>：宝盛里小区北门对面(6:25)<10:30>宝盛里小区3号楼对面(6:25)<10:30>龙岗路27号海驾报名中心对面(6:25)<10:30>清缘东里2号楼对面(6:27)<10:32>永泰小区工商银行门口(6:30)<10:35>信息科技大学南校区东门对面(6:31)<10:36>小营桥东北角车站北30米(6:33)<10:38>西三旗315车站西15米(6:35)<10:40>龙乡小区对面(6:36)<10:41>育新小区北门口东10米(6:37)<10:42>黄土店菜市场对面(6:45)<10:50>新康园北门(6:45)<10:50>华龙园南里北门(6:47)<10:52>农垦学校对面(6:50)<10:55>公路管理站路口西50米路北(6:51)<10:56>龙锦二区路口西北角30米(6:52)<10:57>龙锦四区路口西30米(6:52)<10:57>马连店路口西北角30米(6:53)<10:58>流星花园1区路口西30米(6:55)<11:00>云趣园南门东20米路北(海驾报名中心斜对面)(6:58)<11:03>风雅园一区南门西30米(7:00)<11:05>三合庄园东门南20米(7:01)<11:06>回龙观东站加油站门口(7:02)<11:07>回龙观京客隆超市出口(7:05)<11:10>辛庄桥西70米路北(7:08)<11:13>小牛坊东口(7:05)<11:14>航天城路口西北角(7:09)<11:14>皇后店路口西北角(7:10)<11:15>六里屯北口西北角(7:12)<11:17>屯佃路口(7:15)<11:20>北分厂(7:30)<11:22>—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—宝盛里：<12:30>、<17：:15>、<20:10></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线2 平安大街到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:10>、<10:30></p>
        <p><span class="field">具体路线</span>：东四十条桥西过街桥东北侧(6:10)<10:30>小街路口西北侧20米(6:10)<10:30>东四十条路口西北侧10米(6:10)<10:30>宽街恒祥居门口班车站(6:12)<10:32>什刹海体校门口班车站(6:15)<10:35>齐鲁饭店门口(6:15)<10:35>平安里路口东北侧班车站(6:17)<10:37>赵登禹路口西侧20米(6:20)<10:40>官园桥西北侧20米(珠宝城门口)(6:20)<10:40>北下关小学门口(6:20)<10:40>上园饭店门口东50米(6:25)<10:45>北方交大西门南10米(6:25)<10:45>钢铁研究院南门(6:30)<10:50>海洋局门口(6:30)<10:50>魏公村车站北20米(海驾报名中心)(6:30)<10:50>农业科学院西门路边(6:35)<10:55>当代商城门口路边(6:35)<10:55>海淀医院南门班车站(6:40)<11:00>海淀妇产医院西稻香园桥东北角(6:45)<11:05>—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—平安大街：<12:30>、<17:15></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线3 国贸桥到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:10>、<10:30></p>
        <p><span class="field">具体路线</span>：国贸桥中服大厦西门(6:10)<10:30>京广桥路口北30米路东(6:10)<10:30> 团结湖公园西门(6:12)<10:32>农展馆西门北20米(6:13)<10:33>燕莎桥路口北30米路东(6:18)<10:38> 静安庄车站西30米(6:25)<10:45>西坝河国美门口班车站(6:26)<10:46>和平东桥化工大学南门班车站(6:30)<：50>安贞桥西华联门前过街天桥下(6:32)<10:52>马甸桥东过街天桥下(6:35)<10:55>建德门桥北加油站(6:37)<10:57>三0六医院路口北20米(6:40)<11:00>北沙滩桥路口北30米(6:42)<11:02>花虎沟过街天桥下(6:45)<11:05>清河大中电器南路口(6:50)<11:10>小营桥西50米路北(6:52)<11:12>海驾报名中心对面(6:55)<11:25>上地桥西路口北50米(6:58)<11:18>西二旗城铁西(京包路)路口北50米(7:00)<11:20>—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—国贸桥：<12:30>、<17:15>、<20:10></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线4 中日医院到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:30>、<10:30>、<14:30></p>
        <p><span class="field">具体路线</span>：中日医院西门(6:30)<10:30>外经贸大学西门北50米(6:30)<10:30>惠新东桥西30米(6:32)<10:32>奥体北门对面招商银行路口西20米(6:35)<10:35>健翔桥东信息科技大学校门东10米(6:38)<10:38>志新桥北太极会馆门前(太极饭店)(6:40)<10:40>二里庄物美大卖场对面(6:42)<10:42> 石油大学南门西北角10米(6:45)<10:45>成府路东口学院路街道办事处门前(6:45)<10:45>地质大学北门对面煤气站门口(6:45)<10:45>五道口电影院门口(6:47)<10:47>清华南门路北过街天桥下(6:50)<10:50>清华西门北加油站门口(6:53)<10:53>清华附中北西北超市路口(6:55)<10:55>体育大学西门(6:57)<10:57>上地超市发对面(7:00)<11:00>上地环岛西北角(7:03)<11:03>菊园东站(7:05)<11:05>马连洼328总站(7:07)<11:07>—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—中日医院： <12:30>、<17:15>、<20:10></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线5 成寿寺到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<5:50></p>
        <p><span class="field">具体路线</span>：成寿寺北口路东30米(5:50)十里河桥西南广大行门口(5:52)方庄东方医院门口(5:58)二中法院路北侧50米路边(6:02)天坛公园南门西班车站(6:05)永定门桥西体育场门口(6:06)陶然桥西加油站(6:08)右安门桥西班车站(6:10)大观园南门(6:12)广安门南北方工业公司西门(6:15)白云桥东50米路北(6:18)长安商场西门(6:21)国家工商总局门口(6:25)航天桥下路口北70米路东(6:33)花园桥北过街天桥下(6:35)紫竹桥北过街天桥下(6:35)魏公村西口北班车站(6:38)城乡仓储对面权金城门口(6:40)稻香园桥东北角(6:45)农大西门过街天桥下(6:50)农大北口北70米路东(6:55)—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—成寿寺：<17:15>；回程按百万庄园线行驶</p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线6 首都图书馆到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<5:50>；月坛北桥下路口北70米路东<10:30></p>
        <p><span class="field">具体路线</span>：首都图书馆北门(5:50)松榆里京客隆超市门口(5:50)光明桥下车站北30米(5:55)崇文门路口西地铁出口(6:05)前门东老车站对面路北(6:05)和平门急救中心东30米路北(6:10)宣武门路口西北角西地铁出口西30米(6:13)长椿街路西大成大厦前(6:15)复兴门桥北过街桥下(6:20)月坛北桥下路口北70米路东(6:20)<10:30>官园桥北路东班车站(6:23)<10:30>首钢国际大厦海驾报名中心对面(6:25)<10:31>文慧桥路口南50米节能大厦前(6:25)<10:32>明光桥北50米路东(6:27)<10:33>北邮西门北过街天桥下路东(6:28)<10:35>学知桥北50米路东北京银行门口(6:29)<10:40>北航东门对面北过街天桥下路东主路(6:30)<10:43>学院桥北过街天桥下路东主路(6:31)<10:45>学府园北过街天桥下路东(6:34)<10:48>学知园财富中心西侧路边(6:35)<10:52>清河丁字路口北70米路东(6:38)<10:55>二炮门诊部南门路北(6:42)<11:00>上地桥西路口北70米路东(6:45)<11:03>西二旗城铁西路口北盈创动力大厦对面(6:48)<11:07>北清路生命科学园南门西50米路北(6:50)<11:10>航天城路口西北角(6:55)<11:15>—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—首都图书馆：<17:15></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线7 百万庄园到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:30>，<10:30>、<14:30></p>
        <p><span class="field">具体路线</span>：百万庄园(驾驶员培训中心)门口路边(6:30)<10:30>新大都饭店班车站(6:30)<10:30>四道口车站东国兴家园南门(6:35)<10:35>紫竹院公园东南门路边(6:35)<10:35>紫竹桥北路东广源大厦(6:35)<10:35>总政歌舞团门口(6:40)<10:40>魏公村西口北100米班车站(6:40)<10:40>城乡仓储对面权金城门口(6:45)<10:45>19中学对面报亭(6:45)<10:45>稻香园桥北30米路东(巴沟地铁10号线)(6:45)<10:45>芙蓉里路口北过街天桥下(6:45)<10:45>西苑丁字路口北50米路东(6:50)<10:50>骚子营车站北30米(6:50)<10:50>农大西门过街天桥下(6:55)<10:55>农大北路口西50米路北(6:55)<10:55>百望山路口北70米(6:55)<10:55>西北旺路口西30米路北(7:00)<11:00>—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—百万庄园：<12:30>、<17:15>、<20:10></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线8 洋桥到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:00>发车，小街桥<10:30>、<14:30></p>
        <p><span class="field">具体路线</span>：洋桥北50米路东(6:00)四路通车站北过街天桥下路东(6:00)陶然亭公园东门对面北20米(6:05)中国集邮总公司南门对面(6:07)光明日报社南门对面(6:08)幸福家园4号楼下路南(6:09)广渠门桥北10米(6:10)朝阳门桥南过街天桥公交车站南主路东侧(6:10)东四十条桥南过街天桥公交车站南主路东侧、博奇环保大楼对面(6:13)东直门桥北过街天桥公交站北主路东侧(6:15)小街桥西过街天桥下主路北侧(6:15)<10:30>安定门桥西过街天桥下主路北侧(6:15)<10:30>鼓楼路口西北角(6:18)<10:35>冰窖胡同路口西北角、孔子学院总院南门(6:20)<10:35>小西天牌楼对面(6:20)<10:35>北太平庄路口西北角远望楼南门(6:25)<10:40>蓟门桥专利局西门口(6:30)<10:45>学知桥路口西70米路北(6:35)<10:50>大运村车站西过街大桥下(6:35)<10:50>翠宫饭店门口对面(6:35)<10:50>知春里路口西50米路北(6:40)<10:55>海淀医院南门路边(6:40)<10:55>妇产医院北50米(6:45)<11:00>农大西门北过街天桥下(6:50)<11:05>六里屯东口永丰派出所对面(7:00)<11:10>永丰中学南门(7:15)—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—小街桥：<12:30>、<20:10>；海淀驾校—洋桥： <17:15></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线9 玉泉营到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:10>、六里桥北里<10:30>、<14:30></p>
        <p><span class="field">具体路线</span>：玉泉营环岛西过街天桥下(6:10)夏家胡同过街天桥下(6:12)丽泽桥上(主路300路车站南20米)(6:15)六里桥北里过街天桥北班车站(6:20)<10:30>新兴桥西海军大院北门对面(6:23)<10:33>万寿路口西30米路北(6:25)<10:35>沙沟路口北50米(6:27)<10:37>定慧东里小区西门北30米(6:30)<10:40>八里庄桥北50米路东(6:32)<10:42>玲珑塔市场对面(6:35)<10:45>(长春桥右转)金源居然之家西门(6:40)<10:50>春荫园建行对面(6:40)<10:50>晴雪园西门(6:40)<10:50>空指南门西30米门诊部南门(6:45)<10:55>空军指挥学院北门路边车站东20米(6:45)<10:55>西苑丁字路口北30米(6:45)<10:55>国际关系学院南门西30米(6:48)<10:58>北宫门路口北30米(6:50)<11:00>原309医院对面(6:53)<11:03>颐和山庄东门对面(7:00)<11:10>—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—六里桥：<12:30>、<20:10>；海淀驾校—玉泉营：<17:15></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线10 西二旗城铁到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<10:50>、<11:20>、<14:30>、<15:00>、<16:00></p>
        <p><span class="field">具体路线</span>：西二旗城铁13号线(盈创动力东门对面)、小牛坊路西30米、皇后店路口西、六里屯北口西、屯佃东口、屯佃西口、北分厂、海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—西二旗城铁：上午8:00 11:00下午13:00 16:00每半小时发车一次</p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线11 家和超市到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:15>、<10:30>、<14:30></p>
        <p><span class="field">具体路线</span>：华夏银行对面(豹房小区北门)(6:15)<10:30>总后勤部亚运村门诊楼西30米路南(中国银行门口)(6:17)<10:32>家和超市西门(6:20)<10:35>航空2号院西门北侧(6:20)<10:35>正时家居西侧路口东北角(6:22)<10:37>秋实路口西北角(6:27)<10:42>北苑家园大门口北侧(6:28)<10:43>立水桥城铁对面过街天桥下(6:29)<10:44>天通苑正门售楼处北20米(6:30)<10:45>广东发展银行北过街天桥下(6:33)<10:48>东三旗路口西30米路北(6:35)<10:50>魏窑村北村口(6:47)<10:52>小辛庄村口路边(6:48)<10:53>龙锦二区路口西北角(6:49)<10:54>龙跃苑二区东门北侧50米(6:50)<11:00>昌平二中东门口(6:51)<11:06>龙跃苑四区路口西20米路北(6:52)<11:07>鑫地市场西门(6:53)<11:08>回龙观海驾报名中心九头鸟饭店对面(6:55)<11:10>大鸭梨门口(6:55)<11:10>新龙城东站十字路口西20米(6:56)<11:11>新龙城海驾报名中心门口(6:57)<11:12>回龙观京客隆出口(7:02)<11:17>辛庄桥西70米路北(永旺城铁东侧)(7:05)<11:19>航天城路口西北角(7:09)<11:19>皇后店路口西北角(7:10)<11:20>六里屯北口西北角(7:12)<11:22>屯佃路口(7:15)<11:30>北分厂(7:30)<11:30>—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—家和超市：<12:30>、<17:15>、<20:10></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线12 昌平到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:20>、<10:30></p>
        <p><span class="field">具体路线</span>：北京市汇佳职业学院西门(6:20)<10:30>富泉花园南门对面(6:22)<10:32>昌盛园小学校门口(6:24)<10:34>北京化工大学南门对面(6:27)<10:37>四合新村南门对面(6:30)<10:40>北邵洼村南门路口西50米路北(6:33)<10:43>昌平东关交通队南门(6:35)<10:45>政法大学南门西20米(6:37)<10:47>海淀驾校报名中心对面(昌平一中南门西20米)(6:39)<10:49>南大街美廉美超市对面(6:44)<10:54>蓝郡东门(6:44)<10:54>昌平体育馆北门对面(6:46)<10:56>水屯公交站南50米路西(345公交)(6:48)<10:58>水屯市场车站南50米路西(6:50)<11:00>娄自庄路口(6:52)<11:02>横桥路口(6:54)<11:04>土城路口(6:56)<11:06>四家庄路口(7:00)<11:10>亭子庄路口(7:08)<11:18>靶场路口(7:13)<11:23>坦克博物馆东门路口南50米(7:15)<11:25>阳坊胜利老店(7:20)<11:30>后沙涧330公交站南50米(7:25)<11:35>前沙涧六环桥下口路南50米(7:27)<11:37>西小营金百万饭店门前(7:30)<11:40>—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—昌平：<17:15>、<20:10></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线13 工人日报社西门到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:20></p>
        <p><span class="field">具体路线</span>：工人报社西门(6:20)总政东院西北30米路东(6:20)安华桥南班车站(6:23)安贞西里小区西门北班车站(6:25)北辰路北土城西路东口(6:25)健德桥西北角公交车站西10米路北(6:28)牡丹园小区南门(城建医院门口)(6:30)塔院小区车站东30米路北(6:33)学知桥西70米路北(6:35)大运村西过街天桥下路北(6:38)海淀交通队西门(6:40)外专公寓对面(6:43)中关村医院对面海驾报名中心(6:45)中海市场南门西班车站(6:46)海淀车站南20米(6:50)海淀体育馆北门对面路北(6:53)西苑医院东过街天桥下(7:00)西苑丁字路北30米(7:02)国际关系学院南门西20米(7:03)北宫门路口东四号线地铁(7:03)北宫门路口北路东(7:04)国防大学东门对面路口北30米(7:06)原309医院东门对面路口北30米(7:07)西北旺路口北70米(7:10)—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—工人日报社西门：<17:15></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线14 珠江峰景小区到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:05>、<10:30></p>
        <p><span class="field">具体路线</span>：大成路苏宁电器路口西30米(百万轩饭店门口)(6:05)<10:30>大成南里12号楼东侧对面(6:06)<10:31>大成集团长安新城北门对面(6:07)<10:32>吉祥苑小区南门(6:09)<10:34>连玉桥下路口东北角(6:11)<10:36>玉泉路路口东北角70米路东(6:13)<10:38>航天中心医院东侧(6:20)<10:40>万城大厦对面(6:20)<10:40>天外天对面(6:21)<10:41>铁家坟北站北20米(6:24)<10:44>半壁店超市发西20米(6:25)<10:45>田村小区红绿灯路口西20米(6:25)<10:45>田村西口车站东20米(6:25)<10:45>什仿院车站东20米(6:28)<10:48>廖公庄车站东50米(6:30)<10:50>西黄村336车站西50米(6:30)<10:50>苹果园中学门口东50米(6:33)<10:53>苹果园地铁车站东50米(6:34)<10:54>兴石兴座门口(6:35)<10:55>首钢小区车站南50米(6:35)<10:55>高井路车站西工商银行对面(6:35)<10:55>麻峪北站东50米(6:40)<11:00>双峪环岛西100米(6:40)<11:00>河滩车站北50米(6:42)<11:02>城子小学对面(6:45)<11:05>龙泉宾馆对面(6:46)<11:06>杨坨车站(6:50)<11:10>周家巷六环桥西(6:55)<11:15>—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—珠江峰景小区：<17:15>、<20:10></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线15 怡海花园到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:05>；五棵松路口北<10:30>、<14:30></p>
        <p><span class="field">具体路线</span>：怡海花园西门(6:05)中国银行门口(6:05)富丰桥北50米(6:05)看丹桥北地下通道路边(6:05)丰台影剧院门口(6:10)丰台北大地班车站(6:10)京丰宾馆对面辅路(6:10)丰台路口天桥南50米(6:15)岳各庄302医院西门(6:15)郑常庄过街天桥北30米(6:20)青塔铁道桥南班车站(6:20)沙窝路口北30米(6:20)五棵松路口北20米(6:25)<10:30>金沟河桥北20米(6:25)<10:30>定慧桥北桥路口北30米(6:30)<10:32>营慧寺车站北30米(6:30)<10:33>彰华路口北过街天桥下路东(6:31)<10:34>四季青桥北30米(6:35)<10:35>城帝商厦天桥对面(6:35)<10:35>远大西路世纪城北门东5米(6:40)<10:40>远大路东口过街天桥下东20米路南(6:41)<10:41>海淀分局西门口(6:45)<10:43>海淀区武装部门口(6:47)<10:45>新新家园西大门北10米(6:50)<10:45>稻香园桥东北角(6:52)<10:46>农业大学西门过街天桥下(6:55)<10:46>农大北口北10米路东(6:56)<11:00>六里屯赵庄对面(7:00)<11:05>—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—五棵松：<12:30>、；<20:10>；海淀驾校—怡海花园：<17:15></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线16 香山艺墅到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:20>、<10:30></p>
        <p><span class="field">具体路线</span>：香山艺墅小区门口(6:20)<10:30>南辛庄路东五环桥下(6:21)<10:31>北京应用技术大学路口(6:23)<10:33>西平庄车站西20米(6:24)<10:34>南平庄车站东30米(6:25)<10:35>佟家坟车站东20米(6:26)<10:36>四季青桥东50米路南(6:28)<10:38>板井桥南邮政储蓄东门(6:29)<10:39>曙光小区大鸭梨门口对面(6:30)<10:40>望山园西门(6:33)<10:43>世纪金源大饭店南门路北(6:34)<10:44>北营门车站西30米(6:45)<10:50>中坞丁字路口西50米(6:45)<10:55>闵庄车站西30米(6:45)<10:55>小屯车站西70米(6:45)<10:55>小屯桥北20米(6:45)<10:55>香泉环岛南加油站(6:50)<11:00>四王府路口东(6:50)<11:00>厢红旗路口东70米路南(6:55)<11:05>309医院对面(7:00)<11:10>西北旺路口北70米(7:10)<11:13>—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—香山艺墅：<20:10></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线17 上庄到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<7:00></p>
        <p><span class="field">具体路线</span>：上庄加油站(7:00)上庄小区门口(7:02)上庄卫生院(7:05)海发路口西(7:10)后章村(7:13)前章村(7:15)东贯市(7:17)西贯市(7:20)后沙涧(7:22)前沙涧(7:25)—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—上庄：<20:10>、<17:15></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线18 望京新城肯德基到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:05></p>
        <p><span class="field">具体路线</span>：望京新城肯德基(6:05)建材大世界北门对面(6:05)南湖综合市场东门(6:10)花家地西里三区北门西20米(6:10)望京桥北西加油站(6:15)居然之家门口路边(6:15)联合大学南门口(6:15)惠新东桥北70米路东(6:20)小营北路29号院1楼南侧(6:20)豹房车站西30米路北(6:25)地下通道西生物研究所南门(6:30)成人高等教育学院南门(6:30)中国农业大学东校区南门(6:30)信息产业部六所路口西50米路北(6:35)林业大学正门(南门)(6:40)林大西北门东侧路南(6:40)六道口街北口东侧50米(6:40)学府园过街天桥下路东(6:45)小营桥西50米路北(6:50)毛纺城路口北公交车总站对面北50米(6:50)中国石油长城润滑油集团南门(6:55)当代城市家园东门对面(6:55)西二旗铭科苑东门对面(7:00)领袖硅谷西门(7:00)联想北门对面(7:05)冬晴园北门对面(7:06)秋露园西门门口(7:08)—海淀驾校</p>
        <p><span class="field">回程班车</span>：回程无车(可乘坐中日医院线或首都图书馆线)</p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线19 清河橡树湾东门到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:40></p>
        <p><span class="field">具体路线</span>：清河橡树湾东门对面(6:40)毛纺北小区西门(6:40)上海大众北京技术中心站对面路口北30米(6:41)安宁庄东路二号院西门(6:43)西三旗桥西60米路南加油站(6:50)少林武校北过街天桥下(6:52)云趣园一区(7:00)风雅园南对面(7:00)三合园东门(7:00)回龙观东站加油站(7:00)回龙观京客隆超市出口(7:05)辛庄桥西70米路北(7:05)生命科学园路口西30米路北(7:10)小牛坊路口西30米(7:10)航天城路口西北角(7:15)皇后店路口西北角(7:15)六里屯北口西北角(7:18)屯佃路口(7:20)北分厂(7:25)—海淀驾校</p>
        <p><span class="field">回程班车</span>：回程无车</p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线20 北重到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:00></p>
        <p><span class="field">具体路线</span>：重聚园小区对面发车(6:00)永乐小区36号楼西侧(6:00)眼科医院南门对面(6:01)远洋山水北门(6:02)玉泉路地铁西北角中国科技学院南门(6:02)老山人行道西100米(6:04)石景山医院对面过街天桥下车站西(6:05)八角路西口车站东十米(6:11)古城公园十字路口东北角(6:13)八角西街大东北酒楼北30米(6:15)杨庄小区42号楼西侧(6:16)石景山地税局对面(6:17)纳百家大酒楼对面(6:19)首钢西井居民区北门东20米(6:21)大江南花园酒店门口(6:25)检察官学院对面(6:25)国家射击馆对面(6:26)巨山车站南20米路东(6:30)南河滩加油站南30米(6:35)卧佛寺车站东30米(6:40)香泉环岛西加油站对面(6:42)四王府路口东10米(6:45)厢红旗路口东70米(6:45)309医院对面(7:00)西北旺路口北70米(7:05)—海淀驾校</p>
        <p><span class="field">回程班车</span>：海淀驾校—北重：<17:15></p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线21 财经大学南门到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:30>、<10:30></p>
        <p><span class="field">具体路线</span>：财经大学南门对面(6:30)<10:30>交大东门南30米(6:30)<10:30>交大西门北红绿灯北侧过街天桥下(6:32)<10:32>北方交通大学附属中学(6:32)<10:32>双安商场对面东过街天桥下(6:35)<10:35>当代商城西门北30米(6:37)<10:37>海淀剧院西侧(6:40)<10:40>太平洋电子城对面过街天桥下(6:41)<14:41>北大东门对面路口北30米(6:42)<10:41>农大南路东口兴业银行南门(6:45)<10:45>厢黄旗万树园24号楼下(6:50)<10:50>中国科学院植物保护研究所南门(6:51)<10:51>农业大学西门南过街天桥下路东(6:54)<10:54>农大北口70米路东(7:00)<10:55>永丰派出所对面(7:05)<10:55>—海淀驾校</p>
        <p><span class="field">回程班车</span>：回程无车(可乘坐平安大街线或百万庄园线)</p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线22 北宫门地铁到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<10:50>、<11:20>、<14:30>、<15:00>、<16:00></p>
        <p><span class="field">具体路线</span>：地铁4号线北宫门、国防大学东门对面北、三零九医院东门对面北、西北旺路口西(春和饺子馆对面)、亮甲店大桥西10米、冷泉路口西、太舟坞丁字路口西、海淀驾校</p>
        <p><span class="field">回程班车</span>：驾校—北宫门地铁：上午8:00 11:00下午13:00 16:00每半小时发车一次</p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线23 九头鸟饭店门口到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:50></p>
        <p><span class="field">具体路线</span>：回龙观海驾报名中心九头鸟饭店门口(6:50)回龙观东站加油站路北(6:51)北京人家北门对面(6:52))二拨子新村北门对面(6:53)生命科学园南门西50米(6:55)小牛坊东口(7:00)北清路二炮南门(7:03)永丰屯南口(7:05)屯佃东口(7:10)屯佃西口(7:12)北分厂对面(7:15)—海淀驾校</p>
        <p><span class="field">回程班车</span>：回程无车</p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线24 小辛庄到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:40></p>
        <p><span class="field">具体路线</span>：新干线家园一区1楼南门(6:40)天鑫家园北门对面(6:41)华龙苑北门对面(6:42)龙锦二区路口西北角(6:45)龙跃苑二区东门北侧50米(6:50)昌平二中东门口(6:51)龙跃苑四区路口西20米路北(6:53)回龙观海驾报名中心九头鸟饭店对面(6:55)大鸭梨门口(6:55)少林武校南门(6:56)海驾报名中心门口(6:57)回龙观京客隆出口(7:02)辛庄桥西70米路北(永旺城铁东侧)(7:05)航天城路口西北角(7:09)皇后店路口西北角(7:10)六里屯北口西北角(7:12)屯佃路口(7:15)<11:50>北分厂(7:30)—海淀驾校</p>
        <p><span class="field">回程班车</span>：回程无车(可乘坐家和超市线)</p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线25 森林大第到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:40>、<10:30></p>
        <p><span class="field">具体路线</span>：新都东小区森林大第北门对面(6:40)<10:30>硅谷先锋小区南门(6:41)<10:31>新都环岛东70米路北(6:43)<10:32>程远大厦对面路北(6:45)<10:34>新都环岛加油站对面路北(6:45)<10:34>黄土店市场对面路东(6:46)<10:35>龙跃苑东五区北门对面(6:47)<10:36>龙跃苑东四区西门12号楼下(6:49)<10:38>龙跃苑东二区西门12号楼下(6:50)<10:39>良庄家园西门(6:51)<10:40>东亚上北小区北门对面(6:53)<10:43>北店家园南门(6:54)<10:44>风雅园二区南门(6:54)<10:44>回龙观东站加油站门口(6:55)<10:45>回龙观京客隆超市出口(6:57)<10:48>辛庄桥西70米路北(7:00)<10:55>航天城路口西北角(7:09)<10:59>皇后店路口西北角(7:10)<11:00>六里屯北口西北角(7:12)<11:05>屯佃路口(7:15)<11:05>北分厂(7:30)<11:08>—海淀驾校</p>
        <p><span class="field">回程班车</span>：回程无车(可乘坐宝盛里线)</p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线26 中滩村大街到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:30></p>
        <p><span class="field">具体路线</span>：中滩村大街8号院南门(6:30)海驾报名中心西立汤路2号楼下(6:30)东小口镇政府东南角合立方门口(6:31)龙德广场西侧北过街天桥下(6:32)广东发展银行北过街天桥下(6:35)东三旗路口北50米(6:37)平西府路口西50米(6:40)王府花园南门(6:44)上坡路口(6:50)和谐家园南门西20米(6:51)天龙苑25号楼下(6:53)体育公园北门对面东站西30米(6:55)万意百货路口西30米(6:57)云柏鞋业西中国农业银行南门(6:59)回龙观东站加油站门口(7:02)回龙观京客隆超市出口(7:05)辛庄桥西70米路北(7:08)—海淀驾校</p>
        <p><span class="field">回程班车</span>：回程无车(可乘坐家和超市线)</p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线27 石门营到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:40></p>
        <p><span class="field">具体路线</span>：石门营环岛东北角加油站(6:40)聚德隆超市前过街天桥下路东(6:42)永定中学过街天桥下路东(6:44)葡萄嘴环岛东北角50米路东(6:45)葡善公园对面(6:47)门头沟交通队西门北20米(6:49)双峪环岛西100米人行横道(6:51)河滩车站北50米(6:53)城子小学对面(6:54)龙泉宾馆对面(6:56)杨坨车站(6:58)周家巷六环桥西(7:02)北安河南口(7:10)—海淀驾校</p>
        <p><span class="field">回程班车</span>：回程无车(可乘坐珠江峰景线)</p>
    </div><!-- End .route -->
    <div class="route section">
        <h2>路线28 百善到海淀驾校</h2>
        <p><span class="field">发车时间</span>：<6:30></p>
        <p><span class="field">具体路线</span>：百善小区善缘家园13号楼下(6:30)百善印刷厂南门(6:32)松兰堡车站西30米(沙河供电所门口)(6:36)地铁沙河站公交站东30米(6:37)高教新城南路口西20米路北(6:38)路庄村北对面小区公交站(6:40)路庄桥西南角50米路西(6:44)沙河北大桥南50米路西(6:46)沙河逸和宾馆楼下东门(6:48)沙阳路口西北角(6:50)昆钰酒店南门(6:55)福田汽车厂南门(6:58)海发路口西北角(7:05)后章村(7:07)前章村(7:10)东贯市(7:13)西贯市(7:16)后沙涧(7:20)前沙涧六环桥下(7:23)西小营路口(7:24)北分厂路口西北角(7:25)—海淀驾校</p>
        <p><span class="field">回程班车</span>：驾校—百善小区 <17:15></p>
    </div><!-- End .route -->
</div><!-- End .routes -->
{% endblock main %}
