<div class="notice section">
    <h2>驾校公告</h2>
    <p><span class="highlight">海淀驾校速成班火热招生中，周一至周五连续训练，免约车！单人单车，四个月内拿本，全部费用仅4850元。</span><a href="http://sh.haijia.com.cn/price.html" target="_blank">更多...</a></p>
</div><!-- End .notice -->
<div class="restriction section">
    <h2>北京汽车尾号限行</h2>
    <img class="img-rounded img-responsive" src="/static/img/restriction_2013-10-06.jpg" alt="北京汽车尾号限行" />
</div><!-- End .restriction -->
<div class="contact section">
    <h2>常用电话</h2>
    <ul>
        <li><span class="glyphicon glyphicon-earphone"></span> 报名：010-6170 5049<br/>010-6256 7057</li>
        <li><span class="glyphicon glyphicon-time"></span> 班车：010-6245 4612<br/>010-6249 5780</li>
        <li><span class="glyphicon glyphicon-book"></span> 法培：010-6249 5512<br/>010-6249 5537</li>
        <li><span class="glyphicon glyphicon-arrow-right"></span> 手续：010-6248 0975<br/>010-6248 0976</li>
        <li><span class="glyphicon glyphicon-user"></span> 投诉：010-6245 4547</li>
    </ul>
</div><!-- End .contact -->
<div class="getting-license-number section">
    <h2><a href="http://www.bjhjyd.gov.cn/" target="_blank">北京汽车摇号</a></h2>
    <a href="http://www.bjhjyd.gov.cn" target="_blank"><img class="img-rounded img-responsive" src="/static/img/getting_license_number.jpg" alt="北京汽车摇号" /></a>
</div><!-- End .getting-license-number -->
<div class="links section">
    <h2>常用链接</h2>
    <ul>
        <li><span class="glyphicon glyphicon-search"></span> <a>常见问题</a> <span class="decoration">为您答疑解惑</span></li>
        <li><span class="glyphicon glyphicon-flash"></span> <a>网上约车</a> <span class="decoration">免费约车约考</span></li>
        <li><span class="glyphicon glyphicon-time"></span> <a>班车查询</a> <span class="decoration">乘车点和时间</span></li>
        <li><span class="glyphicon glyphicon-arrow-right"></span> <a>学车流程</a>  <span class="decoration">理论实践并重</span></li>
        <li><span class="glyphicon glyphicon-user"></span> <a>学员心得</a> <span class="decoration">怎么学效果好</span></li>
    </ul>
</div><!-- End .links -->