/* 页头 */
div.header {
    padding-top: 2px;
    background: transparent url('/static/img/logo.jpg') no-repeat 0 22px;
}
div.header div.navbar {
    margin-top: 230px;
    border: 0;
    border-radius: 0;
}
div.header div.navbar-default {
    background-color: #76A1CC;
}
div.header div.navbar-default li a {
    color: white;
    font-size: 1.15em;
}
div.header div.navbar-default li a:hover {
    background-color: white;
}
div.header div.navbar-default div.navbar-header {
    display: none;
}

/* 导航栏高亮 */
div.header ul.nav li.current a {
    background-color: #FFFFFF;
    color: #333333;
}

/* 内容 */
div.content h2 {
    font-size: 1.15em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 边栏 */
div.sidebar h2 {
    background-color: #EFEFEF;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
}
div.sidebar div.section {
    border: 1px solid #CCCCCC;
    margin-bottom: 8px;
    padding-left: 10px;
    padding-bottom: 0;
    padding-right: 10px;
}
div.sidebar ul {
    margin-left: 0;
    padding: 0;
    margin-right: 5px;
}
div.sidebar li {
    list-style-type: none;
    line-height: 175%;
}
div.sidebar .glyphicon {
    margin-right: 5px;
}
div.sidebar span.decoration {
    color: #888888;
    margin-left: 3px;
}
div.sidebar p {
    text-indent: 2em;
    text-align: justify;
    line-height: 150%;
    margin-left: 5px;
    margin-right: 5px;
}

/* 驾校公告 */
div.sidebar .more {
    display: inline;
}

/* 常用电话 */
div.sidebar div.contact ul {
    padding-right: 8px;
}
div.sidebar div.contact li {
    text-align: right;
}

/* 常用链接 */
div.sidebar div.links ul {
    padding-right: 5px;
}
div.sidebar div.links li {
    text-align: right;
}

/* 每日限行 */
div.restriction {
    height: 150px;
    background: transparent url('/static/img/restriction_2013-10-06.png') no-repeat -4px 0;
}
div.restriction h2 {
    display: none;
}

/* 网上摇号 */
div.sidebar div.getting-license-number {
    padding: 0;
}
div.getting-license-number h2 {
    display: none;
}

/* 主要内容 */
div.main p {
    text-align: justify;
    line-height: 175%;
}
div.main p.indent {
    text-indent: 2em;
}
div.main h2 {
    border-top: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background: -webkit-gradient(linear, 0, 0, 0 100%, from(#CCCCCC), to(#444444));
    background: -moz-linear-gradient(top, #4B7CB7, #76A1CC);
    color: white;
    font-weight: normal;
}
div.main .section {
    margin-bottom: 15px;
}
div.main span.highlight {
    color: red;
}
div.main span.field {
    font-weight: bold;
}
/* 班型价格 */
div.main table th, div.main table td {
    text-align: center;
    vertical-align: middle;
}
div.main table {
    margin-bottom: 10px;
}
/* 网上报名 */
div.main div.apply th {
    text-align: right;
    border-top: 0;
    width: 12%;
}
div.main div.apply td {
    text-align: left;
    border-top: 0;
}
div.main div.apply td.name {
    width: 40%;
}
div.main div.apply input.number {
    width: 10%;
    margin-left: 5px;
    margin-right: 5px;
}
div.main div.apply span.number {
    margin-left: 30px;
}
div.main div.apply div.radio {
    margin-bottom: 5px;
}